@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
body {
	
	font-weight: 500;
	background: hsl(230, 36%, 4%);
	color: hsl(0, 0%, 100%);
	letter-spacing: -1%;
	text-rendering: optimizeLegibility;
	font-family: 'Montserrat', sans-serif;

}


@font-face {
	font-family: "Montserrat";
	src: url("./fonts/Montserrat.ttf");
  }

  .rdt input{
	background: #0e0e0e;
    padding: 0.3rem;
    border-radius: 0.4rem;
    border: 1px solid #6b7280;
	/* color: #111827; */
  }

  .rdtPicker {
	color: #0e0e0e;
  }


